<div class="row mt-5 ">
    <div class="col-md-4 offset-4">
        <div class="card">
            <img src="https://i.morioh.com/200521/9a2a2a0e.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title"> Recuperar senha:</h5>
                    <p class="card-subtitle">Informe seu e-mail para recuperar uma nova senha!</p>
                </div>
                <form class="mt-1" [formGroup]="formPassword" (submit)="onSubmit()">
                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" placeholder="Digite seu e-mail aqui!">
                    </div>

                    <div class="mb-2 d-grid">

                        <input type="submit" class="btn btn-success btn-sm" value="Gerar nova senha">
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
